.imageStyle {
    width: 100%;
    height: 500px;
    object-fit: contain;

}



@media screen and (max-width: 768px) {

    .imageStyle {
        width: 100%;
        height: 300px;
        object-fit: fill;

    }


    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

}